*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "JoystixW00-Monospace";
}
@import url(//db.onlinewebfonts.com/c/53652da17589a6e21c5657d8a29f06b4?family=JoystixW00-Monospace);
html{
    height: 100%;
}
body{
    width: 100%;
    background-image: url(/img/fondo1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }
.sidebar{
    z-index: 100;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #2a1462;
    transition: all .5s ease;
}
.logo{
    
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #12082b;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: #fff;
    padding-left: 40px;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    border-bottom: 1px solid #000;
    transition: all .1s
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn{
    z-index: 100;
    position: absolute;
    cursor: pointer;
    background: #2a1462;
}


label #close{
    position: absolute;
    cursor: pointer;
}
label #btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    color: #fff;
    padding: 6px 12px;
    box-shadow: 4px 0 #2a1462, -4px 0 #2a1462, 0 -4px #2a1462, 0 4px #2a1462, 8px 0 #000, -8px 0 #000, 0 -8px #000, 0 8px #000, 0 0 0 4px #000;
    transition: all .5s ease;
    
}
label #close{
    position: fixed;
    z-index: 1111;
    left: -205px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
    color: #fff;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    right: 0;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #close{
    left: 205px;
}
.item1 {grid-area: principal;}
.item2 {grid-area: menu;}
.item3 {grid-area: abilities;}
.item4 {grid-area: skills;}
.item5 {grid-area: proyects;}


.grid-container{
    color: #fff;
    display: grid;
    grid-template-areas:
    "principal"
    'menu'
    'abilities'
    'skills'
    'proyects';
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
}
.item1{
    display: grid;
    gap: 2em;
    grid-area: "principal";
    /**grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));**/
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 150px;
}
.title{
    margin: 20px;
}
.title>h2{
    font-size: 4rem;
}
.title>p{
    font-size: 2rem;
}
button{
    margin: 20px auto;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background: #2a1462;
    box-shadow: 4px 0 #2a1462, -4px 0 #2a1462, 0 -4px #2a1462, 0 4px #2a1462, 8px 0 #000, -8px 0 #000, 0 -8px #000, 0 8px #000, 0 0 0 4px #000;
}

button>a{
color: #fff;
}
button:hover{
    transform: translateY(15px);
    box-shadow: 4px 0 #12082b, -4px 0 #12082b, 0 -4px #12082b, 0 4px #12082b, 8px 0 #000, -8px 0 #000, 0 -8px #000, 0 8px #000, 0 0 0 4px #000;
    background: #12082b;
}
.img1{
    grid-area: "principal";
    max-width: 100%;
}
.img1>img{
   width: 100%;
}
.item2{
    display: grid;
    grid-area: "menu";
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 150px;
}
.aboutme{
    position: relative;
    grid-area: "menu";
    max-width: 70%;
    margin: 0 auto;
}
.aboutme-1{
    margin: 20px;
}
.title2>p{
   text-align: left;
   font-size: 20px;
}
.title2>h2{
    align-items: center;
    font-size: 3em;
    margin: 20px auto;
}
.aboutme>img{
    width: 100%;
}
.item3{
    display: grid;
    grid-area: "abilities";
    align-items: center;
    padding-bottom: 150px;
    text-align: center;
    margin: 20px;
}
.abili{
    margin: 2px auto;
    display: grid;
    gap: 2em;
    grid-template-columns: 2fr 2fr;
}
.frontend, .backend {
    margin: 20px 40px;
    background: #2a1462;
    box-shadow: 20px 0 #2a1462, -20px 0 #2a1462, 0 -20px #2a1462, 0 20px #2a1462, 5px 0 0 10px #2a1462, -5px 0 0 10px #2a1462, 0 -5px 0 10px #2a1462, 0 5px 0 10px #2a1462, 25px 0 #000, -25px 0 #000, 0 -25px #000, 0 25px #000, 0 0 0 15px #000, 0 10px 0 10px #000, 0 -10px 0 10px #000, 10px 0 0 10px #000, -10px 0 0 10px #000;
}
.title3>h2{
    font-size: 3em;
    margin: 30px auto;
    padding: 20px;
}

.title22>h2{
    font-size: 3rem;
}
.title33>h2{
    font-size: 3rem;
}
.iconfro{
    margin: 15px;
}
.iconfro>i{
    font-size: 100px;
}
.backend>p{
    text-align: left;
    font-size: 20px;
}
.frontend>p{
    text-align: left;
    font-size: 20px;
}
.frontend:hover{
    transform: translateY(15px);
    box-shadow: 20px 0 #12082b, -20px 0 #12082b, 0 -20px #12082b, 0 20px #12082b, 5px 0 0 10px #12082b, -5px 0 0 10px #12082b, 0 -5px 0 10px #12082b, 0 5px 0 10px #12082b, 25px 0 #000, -25px 0 #000, 0 -25px #000, 0 25px #000, 0 0 0 15px #000, 0 10px 0 10px #000, 0 -10px 0 10px #000, 10px 0 0 10px #000, -10px 0 0 10px #000;
    background: #12082b;
}
.backend:hover{
    transform: translateY(15px);
    box-shadow: 20px 0 #12082b, -20px 0 #12082b, 0 -20px #12082b, 0 20px #12082b, 5px 0 0 10px #12082b, -5px 0 0 10px #12082b, 0 -5px 0 10px #12082b, 0 5px 0 10px #12082b, 25px 0 #000, -25px 0 #000, 0 -25px #000, 0 25px #000, 0 0 0 15px #000, 0 10px 0 10px #000, 0 -10px 0 10px #000, 10px 0 0 10px #000, -10px 0 0 10px #000;
    background: #12082b;
}
.item4{
    color: #fff;
    display: grid;
    grid-area: "proyects";
    align-items: center;
    padding-bottom: 150px;
    text-align: center;
    margin: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 40px;
    background: #2a1462;
    box-shadow: 20px 0 #2a1462, -20px 0 #2a1462, 0 -20px #2a1462, 0 20px #2a1462, 5px 0 0 10px #2a1462, -5px 0 0 10px #2a1462, 0 -5px 0 10px #2a1462, 0 5px 0 10px #2a1462, 25px 0 #000, -25px 0 #000, 0 -25px #000, 0 25px #000, 0 0 0 15px #000, 0 10px 0 10px #000, 0 -10px 0 10px #000, 10px 0 0 10px #000, -10px 0 0 10px #000;
}
.title21{
    font-size: 3em;
    margin: 30px auto;
    padding: 20px;
}
.cardicons{
    margin: 0 auto;
}
.cardicons>a{
    color: #fff;
    font-size: 100px;
    margin: 10px;
    padding: 10px;
}

.item5{
    color: #fff;
    display: grid;
    grid-area: "proyects";
    align-items: center;
    padding-bottom: 150px;
    text-align: center;
    margin: 20px;
}
.cardsp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 40px;
    background: #2a1462;
    box-shadow: 20px 0 #2a1462, -20px 0 #2a1462, 0 -20px #2a1462, 0 20px #2a1462, 5px 0 0 10px #2a1462, -5px 0 0 10px #2a1462, 0 -5px 0 10px #2a1462, 0 5px 0 10px #2a1462, 25px 0 #000, -25px 0 #000, 0 -25px #000, 0 25px #000, 0 0 0 15px #000, 0 10px 0 10px #000, 0 -10px 0 10px #000, 10px 0 0 10px #000, -10px 0 0 10px #000;
}
.imgp{
    margin: 0 auto;
    background: #000000; 
	border: solid #BDBDBD 2px; 
	opacity: 0.3; 
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 30); /* // for IE8 */
	filter: alpha(opacity= 30); /* //for IE5-7 */
}
.imgp>p{
    margin: 0 auto;
    text-align: center;
}
.title23{
    font-size: 2.5em;
    margin: 0 auto;
}
@media (max-width:800px) {
    .item1, .item2{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
    .title2>P, .frontend>p, .backend>p{
        text-align: center;
        margin: 0 auto;
        margin: 0 25px;
    }
    .item4{
        grid-template-columns: 1fr;
        grid-template-rows:  max-content;
        margin: 0 auto;
    }
    .abili{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
    .item5{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
    .img1{
        grid-row: 1/2;
    }
    .img1>img{
        width: 500px;
        display: block;
        margin: 0 auto;
     }
     label #btn {
        display: none;
    }
    
    
}
